.cucumber-report .body {
	font-family: Helvetica,Arial,sans-serif;
}
.cucumber-report .keyword {
	font-weight: bold;
}
.cucumber-report .description {
	font-style: italic; margin-left: 20px;
}
.cucumber-report details > section {
	margin-left: 20px;
}
.cucumber-report ol.steps {
	margin-top: 0px; margin-bottom: 0px; list-style-type: none;
}
.cucumber-report .step .embedded-text {
	background: rgb(221, 221, 221);
}
.cucumber-report .doc_string {
	margin: 0px 0px 0px 20px;
}
.cucumber-report table {
	border: 1px solid currentColor; border-image: none; border-collapse: collapse;
}
.cucumber-report td {
	border: 1px solid currentColor; border-image: none; padding-right: 4px; padding-left: 4px;
}
.cucumber-report th {
	border: 1px solid currentColor; border-image: none; padding-right: 4px; padding-left: 4px;
}
.cucumber-report table {
	margin-left: 20px;
}
.cucumber-report thead {
	background-color: rgb(192, 192, 192);
}
.cucumber-report .passed {
	background-color: rgb(197, 216, 138);
}
.cucumber-report .undefined {
	background-color: rgb(234, 236, 45);
}
.cucumber-report .pending {
	background-color: rgb(234, 236, 45);
}
.cucumber-report .skipped {
	background-color: rgb(45, 234, 236);
}
.cucumber-report .failed {
	background-color: rgb(216, 138, 138);
}
.cucumber-report .tags {
	display: inline;
}
.cucumber-report .tag {
	color: rgb(36, 106, 193); margin-right: 0.25em;
}
.cucumber-report .comments {
	display: inline;
}
.cucumber-report .comment {
	
}
.cucumber-report .error {
	margin: 0.2em 0.75em; padding: 0.2em; border: 1px solid rgb(153, 0, 0); border-image: none; background-color: rgb(237, 187, 187);
}
#cucumber-templates {
	display: none;
}
